{% extends "car_service/base.html" %}
{%load get_service_type_for_supplier%}
{%load servicetype_menu%}
{%load staticfiles%}
{%block bg_top_service%}menu_2_bg{%endblock%}
        {%block head%}
          <script type="text/javascript" language="javascript" src="{%static 'car_service/js/jquery/plugin/jquery.search_highlight.js'%}"></script>
          <script>
               jQuery(function(){
                    var options = {
                        exact:"{{kw}}",
                        engines:[/^http:\/\/(www\.)?phiree/i, /kw=([^&]+)/i],
                    }

                    {%if kw%}
                        jQuery(document).SearchHighlight(options);
                    {%endif%}
               });
           </script>
        {%endblock%}
{% block content%}

<div class="w1000 h-20">&nbsp;</div>
<div>
    <span>关键字: "{{kw}}" 的搜索结果</span>
</div>
<div class="tejia_list">
    <ul>
        {%for service in search_result.0%}
        <li>
            <img src="{{MEDIA_URL}}{{service.supplier.photo}}" width="318" height="212" alt="">

            <p class="x1"><a href="{%url 'car_service:front_web:service_detail_with_id' service.pk%}" target="_blank">【{{service.servicetype}}】{{service.supplier}}</a>
            </p>

            <p>{%for sv in service.servicevalue_set.all%}<span>{{sv.servicepropertyvalue.serviceproperty.name}}:{{sv.servicepropertyvalue.value}}</span>{%endfor%}
            </p>

            <p>门市价：￥{{service.price_market}}元 (为您节省￥{{service.price_market|add:service.minus_price}})</p>
            <!--
             <p>还剩&nbsp;<span class="x2">2</span>天<span class="x2">8</span>小时<span class="x2">6</span>分&nbsp;结束</p>
                 <p class="b">历史成交：<a href="#" target="_blank">3笔</a></p>
           -->
            <p class="b">商家地址：{{service.supplier.address}}&nbsp;[<a href="#">地图</a>]</p>

            <p class="x3"><span>￥<strong>{{service.price}}</strong></span><a
                    href="{%url 'car_service:front_web:service_detail_with_id' service.pk%}" target="_blank"><img
                    src="{%static 'car_service/images/img_45.jpg' %}" width="93" height="28" alt=""></a></p>

            <div class="tejia_list_1">{%widthratio service.price service.price_market 100 %}<br><span>%折</span></div>
        </li>
        {%endfor%}

    </ul>
    <ul class="clear"></ul>
</div>

{%endblock%}
