{% extends "car_service/my/base_my.html" %}
         {%block content_title%}
        订单列表
        {%endblock%}
{% block main_content%}

<table class="table">
    <tr>
        <th>服务概况</th>
        <th>服务码</th>
        <th>订单状态</th>
        <th>评价</th>
    </tr>
    {%for order in order_list%}
    <tr>
        <td><a href="{%url 'car_service:front_web:service_detail_with_id' order.service.id%}">{{order.service}}</a></td>
        <td> {{order.bill_code}}</td>
        <td> {{order.get_status_display}}</td>
        <td>{%if not order.usercomment %}<a href="{%url 'car_service:front_web:service_detail_with_id' order.service.id%}">评价</a>
            {%else%}{{order.usercomment.comment_content}}

            {%endif%} </td>
    </tr>
    {%endfor%}
</table>
{%endblock%}