dt{font-weight:600;}
.service_item
{
margin:15px 0;
}
.service_option
{}
.selected
{border-color:red;}
.not_selected
{
 border-color:gray;
}
.selected,.not_selected
{
 padding:2px 5px;
 border-width:2px;
 border-style:solid;
 min-width:50px;
 display:inline-block;
 text-align:center;
 margin-bottom:5px;
 cursor:pointer;
}
