{% extends "car_service/base.html" %}
        {%load static%}
        {%block head%}
         <link rel="stylesheet" type="text/css" href="{%static 'car_service/bootstrap-3.1.1-dist/css/bootstrap.min.css'%}"/>
        {%endblock%}

{% block content%}
<div class="row" style="min-height:500px;">
    <div class="col-md-3">
<ul class="nav nav-stacked">
  <li><a href="{%url 'car_service:front_web:my_orders' %}">我的订单</a></li>
  <li><a href="{%url 'userprofile:user_profile' %}">我的资料</a></li>
</ul>



    </div>
    <div class="col-md-9">

       {%block main_content%}
        {%endblock%}
    </div>
</div>
{%endblock%}