<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;"/>
    <title>{%block title%}{%endblock%}</title>
    <meta name="Description" content="{%block meta%}{%endblock%}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{%static 'car_service/js/jquery/jqm/jquery.mobile-1.4.5.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'car_service/js/jquery/jqm/jquery.mobile.theme-1.4.5.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'car_service/m/css/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'car_service/m/css/jqm-customer-icon.css'%}">

    <script type="text/javascript" src="{%static 'car_service/js/jquery/jquery-1.9.1.js'%}"></script>
    <script type="text/javascript" src="{%static 'car_service/js/jquery/jquery-1.9.1.js'%}"></script>
    <script src="{%static 'car_service/js/jquery/jqm/jquery.mobile-1.4.5.min.js'%}"></script>
    {%block head%}
    {%endblock%}
</head>
<body>
<div data-role="page">
    <div data-role="header" class="header" data-position="fixed">
        <!--主题按钮-->
        {%block top_return_btn%}{%endblock%}
         <h1>{{supplier.name}}</h1>

    </div>
    <div data-role="ui-content"></div>
    {%block content%}{%endblock%}
    <div data-role="footer" data-position="fixed">
        <div class="ui-grid-c footer">
            <div class="ui-block-a">
                <a class="ui-icon-ph ui-nodisc-icon ui-btn  {%block nav_active_home%}ui-icon-ph-home{%endblock%} ui-btn-icon-notext "></a>

                <div>首页</div>
            </div>
            <div class="ui-block-b">
                <a class="ui-icon-ph ui-nodisc-icon ui-btn  {%block nav_active_services%}ui-icon-ph-services{%endblock%} ui-btn-icon-notext "></a>

                <div>优惠预约</div>
            </div>
            <div class="ui-block-c">
                <a class="ui-icon-ph ui-nodisc-icon ui-btn  {%block nav_active_my%}ui-icon-ph-my{%endblock%} ui-btn-icon-notext "></a>

                <div>我的</div>
            </div>
            <div class="ui-block-d">
                <a class="ui-icon-ph ui-nodisc-icon ui-btn  {%block nav_active_more%}ui-icon-ph-more{%endblock%} ui-btn-icon-notext "></a>

                <div>更多</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>