<!DOCTYPE html>
  {%load staticfiles%}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--自适应屏幕宽度-->
    <title>选择车型</title>
    <link rel="stylesheet" href="{%static 'car_service/js/jquery/jqm/jquery.mobile-1.4.5.min.css'%}">
    <link rel="stylesheet" href="{%static 'car_service/js/jquery/jqm/jquery.mobile.theme-1.4.5.css'%}">
    <script src="{%static 'car_service/js/jquery/jqm/jquery-1.11.1.min.js'%}"></script>
    <script src="{%static 'car_service/js/jquery/jqm/jquery.mobile-1.4.5.min.js'%}"></script>
</head>
<body>
<div data-role="page" id="pageone">
  <div data-role="header" data-theme="b">
      <!--主题按钮-->
 	  <a href="{%url 'car_service:front_web:site_home'%}" data-role="button" data-icon="arrow-l" data-iconpos="notext" data-theme="b" data-inline="true"></a>
      <h1>选择车型</h1>
      <a href="#" data-role="button" data-icon="grid" data-iconpos="notext" data-theme="b" data-inline="true"></a>
  </div>

  <div data-role="content">
        <ul data-role="listview" data-autodividers="true" data-inset="true"  data-filter="true"  style="list-style-type:none;">
            <li data-icon="false">
                <a href="#">
                    <img src="{%static 'car_service/m/images/web_bz1.gif'%}" class="ui-li-thumb">
                    <h3 class="ui-li-heading">Audi</h3>
                    <p class="ui-li-desc">奥迪R8</p>
                </a>
            </li>
            <li data-icon="false">
                <a href="#">
                      <img src="{%static 'car_service/m/images/web_bz2.gif'%}" class="ui-li-thumb">
                      <h3 class="ui-li-heading"> ANCHI</h3>
                      <p class="ui-li-desc">安驰</p>
                </a>
            </li>
                  <li data-icon="false">
                <a href="#">
                    <img src="{%static 'car_service/m/images/web_bz6.gif'%}" class="ui-li-thumb">
                   <h3 class="ui-li-heading">buick</h3>
                    <p>别克</p>
                </a>
            </li>
            <li data-icon="false">
                <a href="#">
                   <img src="{%static 'car_service/m/images/web_bz7.gif'%}" class="ui-li-thumb">
                   <h3 class="ui-li-heading">Beijing Auto</h3>
                    <p>北京汽车</p>
                </a>
            </li>
            <li data-icon="false">
                <a href="#">
                 <img src="{%static 'car_service/m/images/web_bz8.gif'%}" class="ui-li-thumb">
                   <h3 class="ui-li-heading">BAW</h3>
                    <p>北汽制造</p>
                </a>
            </li>
            <li data-icon="false">
                <a href="#">
                     <img src="{%static 'car_service/m/images/web_bz3.gif'%}" class="ui-li-thumb">
                     <h3 class="ui-li-heading">GTV</h3>
                     <p>阿尔法-罗米欧</p>
                </a>
            </li>
            <li data-icon="false">
                <a href="#">
                   <img src="{%static 'car_service/m/images/web_bz4.gif'%}" class="ui-li-thumb">
                   <h3 class="ui-li-heading"> DBS</h3>
                    <p>阿斯顿-马丁</p>
                </a>
            </li>
            <li data-icon="false">
                <a href="#">
                    <img src="{%static 'car_service/m/images/web_bz5.gif'%}" class="ui-li-thumb">
                   <h3 class="ui-li-heading">Porsche</h3>
                    <p>保时捷</p>
                </a>
            </li>

        </ul>
  </div>

</div>

</body>
</html>