{% extends "car_service/base.html" %}
{%load staticfiles%}
{%block jq_load_script%}
        $.djangocsrf( "enable" );
        var price_list=[{%for s in services%}{'sid':'{{s.id}}','price':'{{s.price}}'},{%endfor%}]

        $(".selected,.not_selected").click(function(e){
            //切换选中状态
            var siblings=$(this).siblings('.selected,.not_selected');
            if(siblings.length==0)
            {
                return false;
            }
            else
            {
                 $(siblings).attr('class','not_selected');
                 $(this).attr('class','selected');
            }
            //if(foil_type)

            //get price

            var sid=get_selected_sid();
            //sid=3

            if(sid)
            {
                for(i in price_list)
                {
                    p=price_list[i]
                    if (p.sid==sid+'')
                    {
                        price=p.price
                        var action_url="{%url 'car_service:front_web:bill_create' 0 %}";
                        $('form').attr('action',action_url.slice(0,action_url.lastIndexOf('/')+1)+sid);
                        $("#price").text(price);
                    }
                }
            }

        });

        function get_selected_sid()//get selected service
        {
            selected_sid=null
            compared_arr=null
            $('.dv_p').each(function(){
                var selected_values=$(this).find('.selected');
                if (selected_values.length!=1){selected_sid=null;return; };
                sid=$(selected_values[0]).attr('sid');
                arr_sid=sid.split(',').filter(function(n){ return n != '' });
                if(compared_arr==null)
                {
                 compared_arr=arr_sid;
                }
                else
                {
                   compared_arr=intersection_destructive(compared_arr,arr_sid);
                }
            });
            return  compared_arr[0];
        }
   {%endblock%}
{%block head%}
<link rel="stylesheet" type="text/css" href="{%static 'car_service/m/css/servicedetail2.css'%}">
 <script type="text/javascript" src="{%static 'car_service/js/jquery/plugin/jquery.djangocsrf.js'%}"></script>

<script>

/* destructively finds the intersection of
 * two arrays in a simple fashion.
 *
 * PARAMS
 *  a - first array, must already be sorted
 *  b - second array, must already be sorted
 *
 * NOTES
 *  State of input arrays is undefined when
 *  the function returns.  They should be
 *  (prolly) be dumped.
 *
 *  Should have O(n) operations, where n is
 *    n = MIN(a.length, b.length)
 */
function intersection_destructive(a, b)
{
  var result = new Array();
  while( a.length > 0 && b.length > 0 )
  {
     if      (a[0] < b[0] ){ a.shift(); }
     else if (a[0] > b[0] ){ b.shift(); }
     else /* they're equal */
     {
       result.push(a.shift());
       b.shift();
     }
  }
  return result;
}
</script>
    {%endblock%}
{%block top_return_btn%}<a  data-rel="back"><-</a>{%endblock%}
{%block header_title%}<h1>预约详情</h1>{%endblock%}
{%load staticfiles%}
{%block content%}
<ul>
            <li><p>【{{service.servicetype.name}}】{{service.supplier.name}}</p></li>
            <li>预订价:&nbsp;<span style="font-size:2em;font-weight:800" id="price">{{service.price}}</span>&nbsp;&nbsp;门市价：￥<span>{{service.price_market}}</span>
            </li>

        </ul>
<ul>
{%for item in merged_service%}

            <li>
                {{item.p.name}}：
                    <div class="dv_p"> {%for v in item.v_l %}
                        <span sid="{%for g in v.s%}{{g.id}},{%endfor%}"
                              class='{%if service in v.s%}selected{%else%}not_selected{%endif%}'>{{v.v.value}}</span>
                        {%endfor%}
                    </div>
            </li>

            {%endfor%}
    </ul>
<form method="post" action="{%url 'car_service:front_web:bill_create' service.pk %}">
                        {%csrf_token%}
                        <input type="image" src="{%static 'car_service/images/img_54.jpg'%}" id="btn_submit" alt="预订"/>
                    </form>
{%endblock%}