body{
#background-color:#dae5e9;
padding-top:85px;
}

/* xs */
#top_image {
    width: 60%;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    #top_image {
        width: 100%;
    }
}


.p_menu,.p_main
{
background-color:#fff;
padding:15px;
border:solid 1px #b1ced4;

}
.p_main
{

}
.p_top{
    background:url(../../images/supplier_admin/top_bg.jpg) center top repeat-x;
    #background-color:#37a;
    #color:white;
    padding-bottom:10px
 }
 .fm_create_supplier
 {

 }
 .menu_selected
 {
 background-color:#78c;
 }
 .menu_selected a
 {
 color:white;
 font-weight:700;
 }

 #summernote {overflow:scroll;
  height:300px;
  max-height:500px;
  }
.side_menu
{
#position:fixed;
#z-index:1000
#top:95px;
}
.nav-bar-login-status
{
    padding:15px 30px 0 30px;

}

#navbar.in ,#navbar.collapsing
{
padding-top:-10;
margin-top:0;
 background:#eee;
}
