{% extends "car_service/supplier_admin/base_supplier_admin.html" %}
          {%block nav_bill_list%}
        menu_selected
        {%endblock%}
          {%block content%}
        <table>
            <thead>
            <tr><td>购买者</td><td>服务内容</td><td>状态</td></tr>
            </thead>
        {% for bill in object_list%}
            <tr>
                <td>{{bill.user}}</td>
                <td>

           <a href="{%url 'car_service:supplier_admin_bill_detail' bill.id %}">{{bill.service}}</a>

            </td>
            <td>
               {{bill.get_status_display}}
            </td>
            </tr>
        {% endfor %}
            </table>
        {%endblock%}