{% extends "car_service/supplier_admin/base_supplier_admin.html" %}
{%load staticfiles%}
{%block header%}
            <script type="text/javascript" src="{%static 'car_service/js/jquery/jquery-1.8.0.min.js'%}"></script>
        <script type="text/javascript" src="{%static 'car_service/js/jquery/plugin/jquery.cookie.js'%}"></script>
        <script type="text/javascript" src="{%static 'car_service/js/jquery/plugin/jquery.djangocsrf.js'%}"></script>
        <script>
        $(function(){
        $.djangocsrf( "enable" );
        $('#btn_complete').click(function(){


             $.post('{%url 'car_service:supplier_admin_complete_bill' object.id%}',
                    function(data){
                        if(data.result){
                            $('#dv_status').text('订单已完成')
                        }
                        else
                        {
                            $('#dv_err_msg').text(data.errmsg)
                        }

                    }
                    )
            });


        })
</script>
{%endblock%}
{%block content%}
<ul>
    <li>预订者:{{object.user}}</li>
    <li>服务:{{object.service}}</li>
    <li>
        <div id="dv_status">
            {%if  object.status = 'ordered' or object.status = 'paid'%}
            已经为该客户提供了服务,<input type="button" id="btn_complete" value="点击,完成订单"/>
            {%else%}
            订单已经完成
            {%endif%}
            <div id="dv_err_msg"></div>
        </div>
    </li>

</ul>


{%endblock%}