{% extends "car_service/supplier_admin/base_supplier_admin.html" %}
        {%block  nav_service_list%}
        menu_selected
        {%endblock%}
          {%block content%}

        <table>
        {% for service in object_list  %}
            <tr><td>

           <a href="{%url 'car_service:supplier_admin_service2_update' service.id %}">{{service}}</a>
               {# <a href="{%url 'car_service:supplier_admin_service2_disable' service.id %}">停止服务</a>#}

            </td></tr>
        {% endfor %}
            </table>
        <a href="{%url 'car_service:supplier_admin_service2_create_select_type'%}">增加服务</a> {%endblock%}