{% extends "car_service/supplier_admin/base_supplier_admin.html" %}
{%load staticfiles%}
{%block header%}
<script type="text/javascript" src="{%static 'car_service/js/jquery/plugin/jquery.cookie.js'%}"></script>
<script type="text/javascript" src="{%static 'car_service/js/jquery/plugin/jquery.djangocsrf.js'%}"></script>
<script>
        $(function(){
        $.djangocsrf( "enable" );
        $('#btn_complete').click(function(){


             $.post('{%url 'car_service:supplier_admin_complete_bill' object.id%}',
                    function(data){
                        if(data.result){
                            $('#dv_status').text('订单已完成')
                        }
                        else
                        {
                            $('#dv_err_msg').text(data.errmsg)
                        }

                    }
                    )
            });


        })


</script>
{%endblock%}
{%block nav_bill_list%}menu_selected{%endblock%}
{%block content_title%}订单详情{%endblock%}
{%block content%}
<table class="table" style="width:60%">
    <tr>
        <td>预订者:</td>
        <td>{{object.user}}</td>
    </tr>
    <tr>
        <td>服务:</td>
        <td>
            <a href="{%url 'car_service:front_web:service_detail_with_id' object.service.id%}" target="_blank">
                {{object.service}}
            </a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>{%if object.status = 'ordered' or object.status = 'paid'%}
            如果已经为该客户提供了该服务,请<input type="button" id="btn_complete" value="点击,完成订单"/>
            {%else%}
            订单已经完成
            {%endif%}
            <div id="dv_err_msg"></div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>


{%endblock%}