{% extends "car_service/supplier_admin/base_supplier_admin.html" %}
        {%block content_title%}车店列表{%endblock%}
          {%block nav_supplier_list%}

        menu_selected
        {%endblock%}
          {%block content%}
        <table class="table">
            <thead>
            <tr><th></th><th>推广链接</th>
            </tr>
            </thead>
        {% for supplier in object_list  %}
            <tr><td>
                <a href="{%url 'car_service:supplier_admin_supplier_update' supplier.id %}">{{supplier}}</a>
            </td>
            <td>
                 <a href="{%url 'car_service:front_web:site_home'%}?pm={{supplier.promote_code}}">{{supplier.promote_code}}</a>
            </td>
            </tr>
        {% endfor %}
            </table>
        {%endblock%}