{% extends "car_service/base.html" %}
{%load static%}
{%block head%}
<link rel="stylesheet" type="text/css" href="{%static 'car_service/css/my/style2.css'%}"/>
<link rel="stylesheet" type="text/css" media="all"
      href="{%static 'car_service/bootstrap-3.1.1-dist/css/bootstrap.min.css'%}"/>
<script src="{%static 'car_service/bootstrap-3.1.1-dist/js/bootstrap.min.js'%}" type="text/javascript"></script>

{%endblock%}

{% block content%}
<div class="about_l f-l">

    <div class="about_l_2">
        <ul>
            <li class="{%block nav_my_orders%}{%endblock%}">
                <a href="{%url 'car_service:front_web:my_orders' %}">我的订单</a>
            </li>
            <li class="{%block nav_my_profile%}{%endblock%}">
                <a href="{%url 'userprofile:user_profile' %}">我的资料</a>
            </li>
            <li class="{%block nav_my_cars%}{%endblock%}">
                <a href="{%url 'car_service:front_web:my_cars' %}">我的爱车</a>
            </li>
            <li class="{%block nav_reset_password%}{%endblock%}">
                <a href="{%url 'password_change' %}">修改密码</a>
            </li>
            <li class="{%block nav_reset_comment%}{%endblock%}">
                <a href="{%url 'car_service:front_web:my_comment' %}">我的评论</a>
            </li>
             <li class="{%block nav_reset_promote%}{%endblock%}">
                <a href="{%url 'car_service:front_web:my_promote' %}">我的推广</a>
            </li>

        </ul>
        <ul class="clear"></ul>
    </div>
    <div class="h-20">&nbsp;</div>
</div>
<div class="my_r f-r">
    <h3>
        {%block content_title%}
        {%endblock%}
    </h3>
    {%block main_content%}
    {%endblock%}

</div>
<div class="clear"></div>
{%endblock%}