{% extends "car_service/site_admin/base_admin.html" %}
          {%block content%}
        <table>
        {% for service in object_list  %}
            <tr><td>

           <a href="{%url 'car_service:site_admin_service2_update' service.id %}">{{service}}</a>
                <a href="{%url 'car_service:site_admin_servicevalue_update' service.id %}">服务详情</a>

            </td></tr>
        {% endfor %}
            </table>
        <a href="{%url 'car_service:site_admin_service2_create'%}">增加服务</a> {%endblock%}