<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;"/>
    <title>{%block title%}{%endblock%}</title>
    <meta name="Description" content="{%block meta%}{%endblock%}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{%static 'car_service/bootstrap-3.1.1-dist/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css"/>
    <link href="{%static 'car_service/css/site.css'%}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{%static 'car_service/jquery/jquery-1.9.1.js'%}"></script>
    <script type="text/javascript" src="{%static 'car_service/jquery/plugin/jquery.cookie.js'%}"></script>
     <script type="text/javascript" src="{%static 'car_service/js/area2.js'%}"></script>
     <script type="text/javascript" src="{%static 'car_service/js/area.js'%}"></script>
      <script type="text/javascript" src="{%static 'car_service/bootstrap-3.1.1-dist/js/bootstrap.min.js'%}"></script>

    <script>
            //增加书签
            $(function() {
                $('#bookmarkme').click(function() {
                    if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
                        window.sidebar.addPanel(document.title,window.location.href,'');
                    } else if(window.external && ('AddFavorite' in window.external)) { // IE Favorite
                        window.external.AddFavorite(location.href,document.title);
                    } else if(window.opera && window.print) { // Opera Hotlist
                        this.title=document.title;
                        return true;
                    } else { // webkit - safari/chrome
                        alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
                    }
                });

                area_display(area);
            });

    </script>
    {%block head%}
    {%endblock%}
</head>
<body>
<!--头部-->
<div class="container">


    <div class="row mini_main">
        <div class="mini_left">

        </div>
        <div class="mini_right">
            {%if user.is_anonymous %}
            <a href="{%url 'car_service:front_web:login'%}" rel="nofollow">登录</a>|
            {%else%}
            欢迎您,{{user}}|<a href="{%url 'car_service:front_web:my_home'%}">个人中心</a>|
            <a href="{%url 'car_service:front_web:logout'%}" rel="nofollow">注销</a>|
            {%endif%}
            <a href="{%url 'car_service:supplier_admin_index'%}"> <span>商家入口</span></a>|
            <a href="#"><span id="bookmarkme">收藏</span></a>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2"><a class="pull-left" target="_self" href="/">
            <img alt="92auto logo" src="{%static 'car_service/img/logo.png'%}"/>
        </a>
        </div>
        <div class="col-md-3">

        <a class="dropdown-toggle" data-toggle="dropdown" href="#" >
           <span id="sp_sltid"></span><span class="caret"></span>
        </a>
        <ul id="ul_area" class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        </div>

        <div class="pull-right"><img
                src="http://x.autoimg.cn/y/site/img/fwTurn.png?v0819"></div>
    </div>

</div>

 <!--导航-->
<div class="container">
    <div class="navbar navbar-default">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav " id="ul_navbar">
            <li class="active"><a href="/" class="cur">首页</a></li>
            <li><a href="/supplier_list/">商家</a></li>
            <li><a href="{%url 'car_service:front_web:service_list' 6%}">服务</a><em></em></li>
            <li id="map_f_v"><a href="/">地图</a><em class="new"></em></li>
        </ul>
        <form class="navbar-form navbar-right" action="javascript:GetSearch()">
            <div class="form-group">
                <lable for="vname" class="sr-only">商家名称</lable>
                <input class="form-control" id="vname" name="vname" maxlength="25" autocomplete="off"
                       type="text">
            </div>
            <button type="submit">搜索</button>
        </form>
</div>
    </div>
</div>

<center class="container">
    <!--顶部-->
    <!--end顶部-->
    {%block content%}{%endblock%}
</center>
<footer class="container">

</footer>

</body>
</html>