{% extends "car_service/base.html" %}
        {%load servicetype_menu%}
        {%load staticfiles%}
{%block bg_top_home%} menu_2_bg{%endblock%}
{% block content%}

  {%block head%}

    {%endblock%}
	<!--left-->
    <div class="index_c_l f-l">
    	<div class="index_c_l_1">
        	<div class="index_c_l_1_l f-l" style="position: relative; z-index:999;">
            	<div class="goods">
                    {%get_typelist%}
                     {#include 'car_service/share/left_menu_service_type2.html'#}
                </div>
            </div>
            <div class="index_c_l_1_r f-r">
            	<div class="h-10">&nbsp;</div>
                <!--d-->
                <div class="index_c_l_1_r_1">
                	<div id=banner1>
                        <div id=banner_bg></div>
                        <div id=banner_info></div>
                            <ul>
                                <li class=on style=" cursor:pointer;">1</li>
                                <li>2</li>
                            </ul>
                        <div id=banner_list>
                            <a href="#" target=_blank><img src="{%static 'car_service/images/p_01.jpg'%}" width="565" height="168" alt="" /></a>
                            <a href="#" target=_blank><img src="{%static 'car_service/images/p_01.jpg'%}" width="565" height="168" alt="" /></a>
                        </div>
                    </div>
                    <script type=text/javascript>
                        var t = m = 0, count;
                        $(document).ready(function () {
                            count = $("#banner_list a").length;
                            $("#banner_list a:not(:first-child)").hide();
                            $("#banner_info").html($("#banner_list a:first-child").find("img").attr('alt'));
                            $("#banner_info").click(function () { window.open($("#banner_list a:first-child").attr('href'), "_blank") });
                            $("#banner1 li").click(function () {
                                var k = $(this).text() - 1; //获取Li元素内的值，即1，2，3，4
                                m = k;
                                if (k >= count) return;
                                $("#banner_info").html($("#banner_list a").eq(k).find("img").attr('alt'));
                                $("#banner_info").unbind().click(function () { window.open($("#banner_list a").eq(k).attr('href'), "_blank") })
                                $("#banner_list a").filter(":visible").fadeOut(500).parent().children().eq(k).fadeIn(1000);
                                document.getElementById("banner1").style.background = "";
                                $(this).toggleClass("on");
                                $(this).siblings().removeAttr("class");
                            });
                            t = setInterval("showAuto1()", 3000);
                            $("#banner1").hover(function () { clearInterval(t) }, function () { t = setInterval("showAuto1()", 4000); });
                        })
                        function showAuto1() {
                            m = m >= (count - 1) ? 0 : ++m;
                            $("#banner1 li").eq(m).trigger('click');
                        }
                    </script>
                </div>
                <!--d/-->
                <div class="index_c_l_1_r_2">
                	<!---->
                    <div id="ISL_Cont_1" class="index_c_l_1_r_2_1">
                        <ul>
                            <li><a href="#" target="_blank"><img src="{%static 'car_service/images/z_01.jpg'%}" width="120" height="90" alt="" /></a><p><a href="#" target="_blank">广州顺发一站式汽车服务（黄石店）</a></p></li>
                            <li><a href="#" target="_blank"><img src="{%static 'car_service/images/z_02.jpg'%}" width="120" height="90" alt="" /></a><p><a href="#" target="_blank">广州安驰汽车美容养护中心</a></p></li>
                            <li><a href="#" target="_blank"><img src="{%static 'car_service/images/z_03.jpg'%}" width="120" height="90" alt="" /></a><p><a href="#" target="_blank">广州唱起来汽车音响（道声总店）</a></p></li>
                            <li><a href="#" target="_blank"><img src="{%static 'car_service/images/z_04.jpg'%}" width="120" height="90" alt="" /></a><p><a href="#" target="_blank">广州尊驾坊（黄村店）</a></p></li>
                            <li><a href="#" target="_ blank"><img src="{%static 'car_service/images/z_01.jpg'%}" width="120" height="90" alt="" /></a><p><a href="#" target="_blank">广州顺发一站式汽车服务（黄石店）</a></p></li>
                            <li><a href="#" target="_blank"><img src="{%static 'car_service/images/z_02.jpg'%}" width="120" height="90" alt="" /></a><p><a href="#" target="_blank">广州安驰汽车美容养护中心</a></p></li>
                            <li><a href="#" target="_blank"><img src="{%static 'car_service/images/z_03.jpg'%}" width="120" height="90" alt="" /></a><p><a href="#" target="_blank">广州唱起来汽车音响（道声总店）</a></p></li>
                            <li><a href="#" target="_blank"><img src="{%static 'car_service/images/z_04.jpg'%}" width="120" height="90" alt="" /></a><p><a href="#" target="_blank">广州尊驾坊（黄村店）</a></p></li>
                        </ul>
                    </div>
                    <div id="LeftArr" class="zk_pre"></div>
                    <div id="RightArr" class="zk_next"></div>
                    <!---->
                    <script language=javascript type=text/javascript>
                        <!--//--><![CDATA[//><!--
                        var scrollPic_02 = new ScrollPic();
                        scrollPic_02.scrollContId   = "ISL_Cont_1"; //内容容器ID
                        scrollPic_02.arrLeftId      = "LeftArr";//左箭头ID
                        scrollPic_02.arrRightId     = "RightArr"; //右箭头ID

                        scrollPic_02.frameWidth     = 520;//显示框宽度
                        scrollPic_02.pageWidth      = 520; //翻页宽度

                        scrollPic_02.speed          = 30; //移动速度(单位毫秒，越小越快)
                        scrollPic_02.space          = 50; //每次移动像素(单位px，越大越快)
                        scrollPic_02.autoPlay       = true; //自动播放
                        scrollPic_02.autoPlayTime   = 3; //自动播放间隔时间(秒)

                        scrollPic_02.initialize(); //初始化

                        //--><!]]>
                    </script>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="h-20">&nbsp;</div>
        <!--汽车美容-->
        {%for top_service in top_service_list%}
        <div class="fl">
        	<div class="fl_1"><span>{{top_service.name}}</span>+&nbsp;<a href="#" target="_blank" class="o">汽车美容知识</a>&nbsp;+</div>
            <div class="h-15">&nbsp;</div>
            <div class="fl">
            	<div class="fl_2_l f-l"><img src="{%static 'car_service/images/img_08.jpg'%}" width="215" height="315" alt="" /></div>
                <div class="fl_2_r f-r">
                	<!--list-->
                     {%for child_service in top_service.servicetype_set.all%}
                    <div class="fl_2_r_list b">
                    	<ul>
                        	<li class="a1"><a href="{% url 'car_service:front_web:service_list' child_service.id%}" target="_blank">{{child_service.name}}</a></li>
                            <li style="display:none" class="a2">{{child_service.get_supplier_list.0|length}}个商家</li>
                            <li class="a3"><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>{{child_service.get_supplier_list.1.price__min}}起</a></li>
                            <li class="a4">分为人工洗车和电脑洗车，是车辆的日常养护项目之一</li>
                        </ul>
                        <ul class="clear"></ul>
                    </div>
                   {%endfor%}
                    <!--list/-->
                </div>
                <div class="clear"></div>
            </div>
        </div>
        {%endfor%}
        <!--汽车美容/-->
        <div class="h-10">&nbsp;</div>

    </div>
    <!--left/-->
    <!--right-->
    <div class="index_c_r f-r">
    	<div class="h-10">&nbsp;</div>
        <!--d-->
        <div class="index_c_r_1"><a href="#" target="_blank"><img src="{%static 'car_service/images/img_04.jpg'%}" width="200" height="230" alt="" /></a></div>
        <!--d/-->
        <div class="h-10">&nbsp;</div>
        <!--推荐-->
        <div id=div_qualityShop class="index_c_r_2">
            <div id=HNewVendor class="index_c_r_3"><strong>新店大酬宾</strong><a onclick=ChangeVendor(1); href="javascript:void(0)" class="o">换一批</a></div>
            <ul id=ulNewVendor class="index_c_r_3_0">
                <li onmouseover=ShowVendor(1);>
                    <div style="display:none;" id=item1>
                    	<div class="index_c_r_3_1"><span><strong>真皮座椅保养养</strong>&nbsp;7.4折</span><strong><dfn class=rmb>&yen;</dfn>50起</strong></div>
                        <div class="index_c_r_3_2"><span>[越秀]</span>洗新艳旧奥园店</div>
                    </div>
                    <div style="display:block" id=info1>
                    	<div><a href="#" target="_blank"><img src="{%static 'car_service/images/img_05.jpg'%}" width="180" height="135" alt="" /></a></div>
                        <div class="tj_1"><a href="#" target="_blank">好快省环市西路店</a>[荔湾]</div>
                        <div class="tj_2">特惠服务</div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                    </div>
                </li>
                <li onmouseover=ShowVendor(2);>
                    <div style="display: block;" id=item2>
                    	<div class="index_c_r_3_1"><span><strong>真皮座椅保养</strong>&nbsp;7.4折</span><strong><dfn class=rmb>&yen;</dfn>50起</strong></div>
                        <div class="index_c_r_3_2"><span>[越秀]</span>洗新艳旧奥园店</div>
                    </div>
                    <div style="display: none" id=info2>
                    	<div><a href="#" target="_blank"><img src="{%static 'car_service/images/img_07.jpg'%}" width="180" height="135" alt="" /></a></div>
                        <div class="tj_1"><a href="#" target="_blank">好快省环市西路店</a>[荔湾]</div>
                        <div class="tj_2">特惠服务</div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                    </div>
                </li>
                <li onmouseover=ShowVendor(3);>
                    <div style="display: block;" id=item3>
                    	<div class="index_c_r_3_1"><span><strong>真皮座椅保养</strong>&nbsp;7.4折</span><strong><dfn class=rmb>&yen;</dfn>50起</strong></div>
                        <div class="index_c_r_3_2"><span>[越秀]</span>洗新艳旧奥园店</div>
                    </div>
                    <div style="display: none" id=info3>
                    	<div><a href="#" target="_blank"><img src="{%static 'car_service/images/img_07.jpg'%}" width="180" height="135" alt="" /></a></div>
                        <div class="tj_1"><a href="#" target="_blank">好快省环市西路店</a>[荔湾]</div>
                        <div class="tj_2">特惠服务</div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                    </div>
                </li>
                <li onmouseover=ShowVendor(4);>
                    <div style="display: block;" id=item4>
                    	<div class="index_c_r_3_1"><span><strong>真皮座椅保养</strong>&nbsp;7.4折</span><strong><dfn class=rmb>&yen;</dfn>50起</strong></div>
                        <div class="index_c_r_3_2"><span>[越秀]</span>洗新艳旧奥园店</div>
                    </div>
                    <div style="display: none" id=info4>
                    	<div><a href="#" target="_blank"><img src="{%static 'car_service/images/img_07.jpg'%}" width="180" height="135" alt="" /></a></div>
                        <div class="tj_1"><a href="#" target="_blank">好快省环市西路店</a>[荔湾]</div>
                        <div class="tj_2">特惠服务</div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                    </div>
                </li>
                <li onmouseover=ShowVendor(5);>
                    <div style="display: block;" id=item5>
                    	<div class="index_c_r_3_1"><span><strong>真皮座椅保养</strong>&nbsp;7.4折</span><strong><dfn class=rmb>&yen;</dfn>50起</strong></div>
                        <div class="index_c_r_3_2"><span>[越秀]</span>洗新艳旧奥园店</div>
                    </div>
                    <div style="display: none" id=info5>
                    	<div><a href="#" target="_blank"><img src="{%static 'car_service/images/img_07.jpg'%}" width="180" height="135" alt="" /></a></div>
                        <div class="tj_1"><a href="#" target="_blank">好快省环市西路店</a>[荔湾]</div>
                        <div class="tj_2">特惠服务</div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                        <div class="tj_3 b"><span><a href="#" target="_blank">四轮定位</a></span><a href="#" target="_blank" class="r"><dfn class=rmb>&yen;</dfn>110起</a></div>
                    </div>
                </li>
            </ul>
        </div>
        <!--推荐/-->
        <div class="h-10">&nbsp;</div>
        <!--点评-->
        <div class="dianping">
        	<div class="dianping_1">最新点评</div>
            <div class="dianping_2 b">
            	<ul>
                	<li>
                    	<p><a href="#" target="_blank">安驰汽车美容养护洗车</a></p>
                        <p><img src="{%static 'car_service/images/x_5.jpg'%}" width="64" height="12" alt="" /></p>
                        <p>第一次去的，服务态度好，工作认真，价格实惠，值得...[<a href="#" target="_blank" class="o">全文</a>]</p>
                    </li>
                    <li>
                    	<p><a href="#" target="_blank">安驰汽车美容养护洗车</a></p>
                        <p><img src="{%static 'car_service/images/x_5.jpg'%}" width="64" height="12" alt="" /></p>
                        <p>第一次去的，服务态度好，工作认真，价格实惠，值得...[<a href="#" target="_blank" class="o">全文</a>]</p>
                    </li>
                    <li>
                    	<p><a href="#" target="_blank">安驰汽车美容养护洗车</a></p>
                        <p><img src="{%static 'car_service/images/x_5.jpg'%}" width="64" height="12" alt="" /></p>
                        <p>第一次去的，服务态度好，工作认真，价格实惠，值得...[<a href="#" target="_blank" class="o">全文</a>]</p>
                    </li>
                    <li>
                    	<p><a href="#" target="_blank">安驰汽车美容养护洗车</a></p>
                        <p><img src="{%static 'car_service/images/x_5.jpg'%}" width="64" height="12" alt="" /></p>
                        <p>第一次去的，服务态度好，工作认真，价格实惠，值得...[<a href="#" target="_blank" class="o">全文</a>]</p>
                    </li>
                    <li>
                    	<p><a href="#" target="_blank">安驰汽车美容养护洗车</a></p>
                        <p><img src="{%static 'car_service/images/x_5.jpg'%}" width="64" height="12" alt="" /></p>
                        <p>第一次去的，服务态度好，工作认真，价格实惠，值得...[<a href="#" target="_blank" class="o">全文</a>]</p>
                    </li>
                </ul>
            </div>
        </div>
        <!--点评/-->
    </div>
    <!--right/-->
    <div class="clear"></div>

{%endblock%}