{% extends "car_service/base.html" %}
        {%load get_service_type_for_supplier%}
        {%load servicetype_menu%}
{% block content%}
  <div class="index_c_l f-l">
    	<div class="index_c_l_1">
        	<div class="index_c_l_1_l f-l" style="position: relative; z-index:999;">
            	<div class="goods">
                 {%get_typelist%}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    <div class="index_c_l_1_r f-r">


 <ul class="l_cont">
   {%for supplier in supplier_list%}
		<li><a target="_blank" href="">
                            {{supplier}}</a>

            <div class="">

                <div><a href="{%url 'car_service:front_web:service_detail_without_id' service_type supplier.id%}">查看所有</a></div>
                {% for s in supplier|get_service_type_for_supplier:service_type%}

                  <dl>
                    <dt>

                        <li><a href="{%url 'car_service:front_web:service_detail_with_id' s.id%}">{{s}}</a></li>
                    </dt>
                 </dl>
                 {%endfor%}

             </div>

            <div class="l_more" id="child118904" style="display: none">
                <a rel="nofollow" href="javascript:void(0)" id="showinfo118904" onclick="javascript:showbrandInfos('showinfo118904','hide118904','showbrand118904')" class="unfoldall">展开全部(1)<em></em></a> <a rel="nofollow" style="display: none;" id="hide118904" href="javascript:void(0)" onclick="javascript:hidebrandInfos('showinfo118904','hide118904','showbrand118904')" class="foldall">收起<em></em></a>
            </div>

        </li>
       {%endfor%}
  </ul>
    </div>
</div>
{%endblock%}
