{% extends "car_service/base.html" %}
{%load staticfiles%}
        {%load get_values_for_property%}
{%block head%}
<link href="{%static 'car_service/css/detail.css'%}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{%static 'car_service/jquery/plugin/jquery.cookie.js'%}"></script>
<script type="text/javascript" src="{%static 'car_service/js/detail.js'%}"></script>
<script>
    $(function(){
        var price_list=[{%for s in services%}{'sid':'{{s.id}}','price':'{{s.price}}'},{%endfor%}]
        $(".selected,.not_selected").click(function(e){

            //切换选中状态
            var siblings=$(this).siblings('.selected,.not_selected');
            if(siblings.length==0)
            {
                return false;
            }
            else
            {
                 $(siblings).attr('class','not_selected');
                 $(this).attr('class','selected');
            }
            //if(foil_type)

            //get price


            var sid=get_selected_sid();
            //sid=3

            if(sid)
            {
                for(i in price_list)
                {
                    p=price_list[i]
                    if (p.sid==sid+'')
                    {
                        price=p.price
                        var action_url="{%url 'car_service:front_web:bill_create' 0 %}";
                        $('form').attr('action',action_url.slice(0,action_url.lastIndexOf('/')+1)+sid);
                        $("#price").text(price);
                    }
                }
            }
        });
        function get_selected_sid()//get selected service
        {
            selected_sid=null
            compared_arr=null
            $('.dv_p').each(function(){
                var selected_values=$(this).find('.selected');
                if (selected_values.length!=1){selected_sid=null;return; };
                sid=$(selected_values[0]).attr('sid');
                arr_sid=sid.split(',').filter(function(n){ return n != '' });
                if(compared_arr==null)
                {
                 compared_arr=arr_sid;
                }
                else
                {
                   compared_arr=intersection_destructive(compared_arr,arr_sid);
                }
            });

            return  compared_arr[0];





        }


});

/* destructively finds the intersection of
 * two arrays in a simple fashion.
 *
 * PARAMS
 *  a - first array, must already be sorted
 *  b - second array, must already be sorted
 *
 * NOTES
 *  State of input arrays is undefined when
 *  the function returns.  They should be
 *  (prolly) be dumped.
 *
 *  Should have O(n) operations, where n is
 *    n = MIN(a.length, b.length)
 */
function intersection_destructive(a, b)
{
  var result = new Array();
  while( a.length > 0 && b.length > 0 )
  {
     if      (a[0] < b[0] ){ a.shift(); }
     else if (a[0] > b[0] ){ b.shift(); }
     else /* they're equal */
     {
       result.push(a.shift());
       b.shift();
     }
  }

  return result;
}

</script>
{%endblock%}
{%block content%}

<div class="service_item">
    商家:{{service.supplier.name}}
</div>
<div class="service_item">
    服务类型:{{service.servicetype}}
</div>

<div class="service_item">
    服务描述:{{service.description}}
</div>

<div>
    {%for item in merged_service%}
    <div class="dv_p">
        <span>{{item.p.name}}</span>
        {%for v in item.v_l %}
        <span sid="{%for g in v.s%}{{g.id}},{%endfor%}"  class='{%if service in v.s%}selected{%else%}not_selected{%endif%}'>{{v.v.value}}</span>
        {%endfor%}
    </div>
    {%endfor%}
</div>
<div>

    <span>价格:</span><span class="" id="price">{{service.price}}</span>
</div>
            <div>
                <form method="post" action="{%url 'car_service:front_web:bill_create' service.pk %}">
                    {%csrf_token%}
            <input class="submit" type="submit" id="btn_submit">预订</input>
                </form>

        </div>
{%endblock%}
