{% extends "car_service/base.html" %}
{%load staticfiles%}
{%block head%}
<script src="{%static 'car_service/jquery/jquery-1.9.1.js' %}"></script>
<style>
    .value_selected
    {
    color:red;
    }
    .item_value
    {
    color:black;
    }
    .item_disabled
    {
     color:gray;
    }
</style>
<script>
$(function(){
 var service_list=$.parseJSON('{{json_detail_list|safe}}');
 var selected_id="{{detail.id}}";
 var is_init=true;
/******* should be a plugin********/

// 将该商家同一种服务的不同选项展示, 根据用户选择确定价格
//对应的服务id, 通过ajax预订.
// step1
//展示所有选项

var service_list_changed=[];//经过选择之后的服务列表
var item_selected={};//已经选择的值
/*functions*/
function value_click(e)
{
    is_init=false;
    service_list_changed=[]
    sp_item=$(e.target);
    dv_parent=sp_item.parent('div')[0];
    //1 将该值加入selected
    title=dv_parent.id.replace('dv_','');
    value=e.data.id;
    item_selected[title]=value;
   for (x=0;x<service_list.length;x++)
   {
    for (key in item_selected)
    {
        v=item_selected[key];
        if(v==null)
        {
            t=get_value('',key,service_list);
            if(t>=0)
             {
                 service_list_changed.push(service_list[t]);

             }
             continue;
        }
        k=get_value(item_selected[key],'',service_list)
        m=get_value(item_selected[key],'',service_list_changed)
        if(k>=0&&m<0)
        {
            service_list_changed.push(service_list[k]);
        }
    }
    }
   // service_list_changed=service_list;
    detail_layout('');
}

function get_value(value,title,list)
{
    for (m =0;m < list.length;m++)
    {
        for (j in list[m].fields)
        {if(j=='car'){continue;}
            if(j=='price'||j=='price_preorder'){ continue;}
            if(j=='service'){ continue; }
            item_property=list[m].fields[j]
            if (item_property!=null)
            {
                if(value!='' && item_property[0]==value)
                {
                    // selected_item_values.title=item_property[3][1]
                //属性值: 人工洗车/电脑洗车.
                    // selected_item_values.value=item_property[2]
                    return m;
                }
                if(title!='' && item_property[3][1]==title)
                {
                    return m;
                }
            }

        }
    }
    return -1;
}

function detail_layout(selected_id){

    $('#dv_lay').empty()
    var title_added=[],item_added=[]

    for (i =0;i < service_list.length;i++)
    {
        var service_pk=service_list[i].pk;
        for (j in service_list[i].fields)
        {
            //跳过不需要解析的属性.
            if(j=='car'){continue;}
            if(j=='price'||j=='price_preorder'){ continue;}
            if(j=='service'){ continue; }

            item_property=service_list[i].fields[j]
            if(item_property==='null'){continue};
            if (item_property!=null)
            {
                //如果-selected_id 不为空 那么 需要将默认属性添加进 item_selected
                //属性名称: 如 洗车类型,品牌
                title=item_property[3][1]
                //属性值: 人工洗车/电脑洗车.
                value=item_property[2]
                if(selected_id!='')
                {
                    if(service_pk+""==selected_id)
                    {
                        item_selected[j]=item_property[0];
                        service_list_changed.push(service_list[i]);
                    }

                }
                else{
                    if(is_init)
                    {
                        item_selected[j]=null;
                        service_list_changed=service_list;
                    }
                }
                //创建html元素,
                var dv_property;
                if (title_added.indexOf(title)==-1)
                {
                    dv_property=$("<div id='dv_"+j+"' ></div>")
                    dv_property.append("<span>"+title+"</span>");
                    $('#dv_lay').append(dv_property);
                    title_added.push(title)
                }
                else
                {
                    dv_property=$('#dv_lay').find("#dv_"+j);
                }
                var sp_value;
                if (item_added.indexOf(value)==-1)
                {
                    sp_value=$("<span  id='"+item_property[0]+"'>"+value+"</span>");
                    sp_value.on("click",{id:item_property[0]}, value_click)
                    dv_property.append(sp_value);
                    item_added.push(value)
                }
                else
                {
                    sp_value=$('#dv_lay').find("#"+item_property[0]);
                }
                //判断该值  1 是否可以选择 2 是否已经被选择

                k=get_value(item_property[0],'',service_list_changed);

                if(k<0)
                {

                        if(!sp_value.hasClass('item_value')||!sp_value.hasClass('value_selected'))
                        {
                            sp_value.addClass('item_disabled');
                        }

                }
                else
                {
                    if(!sp_value.hasClass('value_selected'))
                    {
                        sp_value.removeClass('item_disabled');
                        sp_value.addClass('item_value');
                    }
                    for(p in item_selected)
                    {

                        if (item_selected[p]==item_property[0])
                        {
                            sp_value.removeClass('item_disabled');
                            sp_value.removeClass('item_value');
                            sp_value.addClass('value_selected');
                            sp_value.siblings().attr('class', 'item_value');
                        }

                    }
                }
            }
        }
    }
}

/*********************************/
           detail_layout(selected_id);
});


</script>
{%endblock%}
{%block content%}

<div>
    商家:{{service.supplier.name}}
</div>
<div>
    服务类型:{{service.service_type.name}}
</div>

<div>
    服务描述:{{service.description}}
</div>
<hr/>
<div id="dv_lay"></div>
<hr/>
<div>
    <span>品牌:</span>
    {%for brand in brand_list %}
    <a style="{%ifequal brand.id detail.brand.id %}color:red{%endifequal%}" href="#">{{brand.name}}</a>
    {%endfor%}

</div>

{%ifnotequal wash_type_list.count 0%}
<div>
    <span>洗车类型:</span>
    {%for wash_type in wash_type_list %}
    <a style="{%ifequal wash_type.id detail.wash_type.id %}color:red{%endifequal%}"
       href="#">{{wash_type.name}}</a>
    {%endfor%}

</div>
{%endifnotequal%}
{%ifnotequal foil_type_list.count 0%}
<div>
    <span>贴膜类型:</span>
    {%for foil_type in foil_type_list %}
    <a style="{%ifequal foil_type.id detail.foil_type.id %}color:red{%endifequal%}"
       href="#">{{foil_type.name}}</a>
    {%endfor%}

</div>
{%endifnotequal%}
<div>
    <span>价格:</span><span id="price"></span>
</div>

{%endblock%}
