{% extends "car_service/base.html" %}
        {%load get_service_type_for_supplier%}
        {%load staticfiles%}
          {%load servicetype_menu%}
         {%block bg_top_supplier%}menu_2_bg{%endblock%}
{% block content%}

<div class="sj_l f-l">
	<div class="index_c_l_1_l" style="position: relative; z-index:999;">
        <div class="goods">
         {%get_typelist%}
        </div>
    </div>
    <div class="h-10">&nbsp;</div>
    <div><a href="#" target="_blank"><img src="{%static  'car_service/images/img_16.jpg'%}" width="215" height="247" alt=""></a></div>
</div>
   <div class="sj f-r">
	<div class="sj_wz">爱车网&nbsp;&gt;&nbsp;商家搜索</div>

    <div class="h-15">&nbsp;</div>
       {%for supplier in supplier_list %}
    <div class="sj_list b">

        <img src="{{MEDIA_URL}}{{supplier.photo}}" width="180" height="135" alt="" align="left">
        <p class="sj_list_1"><a href="{%url 'car_service:front_web:supplier_detail' supplier.pk%}" target="_blank">{{supplier}}</a></p>
        <p>地址：{{supplier.address}}</p>
        <p class="sj_list_2">服务项目：
            {% for s in supplier.get_type_info%}
             <a href="{%url 'car_service:front_web:service_detail_without_id' s.0 supplier.id%}">{{s.1}}</a>
              {%endfor%}
    </div>
    <div class="h-10">&nbsp;</div>
       {%endfor%}

    <div class="sj_fy">
        <span><a href="#">上一页</a></span>
        <span><a href="#">1</a></span>
        <span class="x1">2</span>
        <span><a href="#">3</a></span>
        <span>...</span>
        <span><a href="#">16</a></span>
        <span><a href="#">17</a></span>
        <span><a href="#">下一页</a></span>
    </div>
</div>
        <div class="clear"></div>
{%endblock%}
