<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="Django" />
            <add name="robots" path="robots.txt" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Script" />
            <add name="Django" path="*" verb="*" modules="FastCgiModule" scriptProcessor="F:\Code\autobm_django\env\env\Scripts\python.exe|F:\Code\autobm_django\automb\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
