{% extends "car_service/site_admin/base_admin.html" %}
          {%block content%}
        <table>
        {% for service in object_list  %}
            <tr><td>

           <a href="{%url 'car_service:site_admin_service_edit' service.id %}">{{service}}</a>
            {%for s in service.child_types%}
                 <a href="{%url 'car_service:site_admin_service_edit' s.id %}">{{s}}</a>
                {%endfor%}
            </td></tr>
        {% endfor %}
            </table>
        <a href="{%url 'car_service:site_admin_service_edit'%}">增加服务</a> {%endblock%}